/* index.html */
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/macbook.png");
}

.button1 {
    text-align: center;
}

/* login.html */
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/macbook.png");
}

h1.display-4 {
    margin: 20px auto;
}

/* main.html */
.container3 {
    padding-top: 15%;
    padding-bottom: 25%;
    text-align: center;
    background-color: green;
}

.display-4 {
    font-weight: 400;
}

#searchBar {
    margin-bottom: 10px;
}

.card {
    margin-left: 15%;
    margin-right: 15%;
}

/* order.html */
.container5 {
    padding-top: 15%;
    padding-bottom: 25%;
    text-align: center;
    background-color: green;
}

/* profile.html */
.container6 {
    padding-top: 15%;
    padding-bottom: 25%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: green;
}

input[type="text"]#about {
    height: 150px;
}

input[type="text"]#your-services {
    height: 150px;
}

label {
    font-size: 24px;
    font-weight: 600;
}

#aboutHelp {
    color: wheat;
}

#servicesHelp {
    color: wheat;
}

/* Generic */
.header {
    font-weight: 600;
}

.footer {
    display: flex;
    justify-items: space-evenly;
}
